:root {
    --grid-rows: 1;
    --grid-cols: 1;
}

body {
    height: 100%;
    width: 100%;
}

.centre {
    display: flex;
    align-items: center;
    justify-content: center;
}

#centeredDiv {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#parentGrid {
    border: 2px solid black;
    display: grid;
    max-height: 500px;
    min-height: 500px;
    max-width: 500px;
    min-width: 500px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.gridSlot:hover {
    background-color: black;
}

.changeColour {
    background-color: black;
}

