:root {
    --grid-rows: 1;
    --grid-cols: 1;
}

body {
    height: 100%;
    width: 100%;
}

#centeredDiv {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#parentGrid {
    border: 2px solid black;
    display: inline-grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.gridSlot {
    text-align: center;
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;

}

.gridSlot:hover {
    background-color: black;

}